<ion-content>
  <ion-header>
    <ion-toolbar>

      <ion-text class="ion-text-center" color="dark">
        <h3>Nueva venta</h3>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button (click)="closeModal();" fill="clear">
          <ion-icon slot="icon-only" name="close">
          </ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-searchbar mode="ios" placeholder="Buscar producto" (ionChange)="showMyProducts($event)" [debounce]="250">
  </ion-searchbar>

  <ion-chip *ngIf="popoverInfo" [ngClass]="{'rojo': esCantidadMayor(popoverInfo.stock)}">
    {{ popoverInfo.nombre }}
    {{ popoverInfo.stock }}
  </ion-chip>

  <!-- <ion-chip *ngIf="stock" [ngClass]="{'rojo': esCantidadMayor(stock)}">
    {{ stock }}
  </ion-chip> -->

  <ion-grid>
    <form [formGroup]="ventaForm" (ngSubmit)="saveVenta()">
      <ion-row>
        <ion-col size="12" *ngIf="showProgressBar">
          <h6 class="ion-text-center">Generando info de la venta</h6>
          <ion-progress-bar [value]="progress / 100" color="tertiary"></ion-progress-bar>
        </ion-col>

        <!-- <ion-col size="12">
          <ion-item mode="ios">
            <ion-select formControlName="prod_id" multiple="false" aria-label="Producto" interface="action-sheet"
              (ionChange)="updateProgress()" id="prod_id-select" placeholder="Selecciona el productos">
              <ion-select-option *ngFor="let prod_id of productos" [value]="prod_id">{{
                prod_id}}</ion-select-option>
            </ion-select>
          </ion-item>
          <small *ngIf="validarInput('prod_id');" class="form-text text-danger">
            Debes elegir un producto
          </small>
        </ion-col> -->

        <!-- <ion-col size="12">
          <ion-searchbar mode="ios" placeholder="Buscar producto" (ionChange)="onSearchChange($event)"></ion-searchbar>
        
          <ion-item>
            <ion-label position="floating">Selecciona un producto:</ion-label>
            <ion-select formControlName="prod_id" interface="action-sheet" (ionChange)="updateProgress()" placeholder="Selecciona el producto" [(ngModel)]="selectedProductId">
              <ion-select-option *ngFor="let producto of filteredProductos" [value]="producto.id">{{ producto.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        
          <small *ngIf="validarInput('prod_id');" class="form-text text-danger">
            Debes elegir un producto
          </small>
        </ion-col> -->


        <!-- DATALIST HTML <ion-col size="12">
          <label for="producto">Busca el producto:</label>
          <input type="text" id="producto" list="productos-list" formControlName="prod_id"
            (input)="updateProgress()">

          <datalist id="productos-list">
            <option *ngFor="let prod_id of productos" [value]="prod_id">{{ prod_id }}</option>
          </datalist>

          <small *ngIf="validarInput('prod_id');" class="form-text text-danger">
            Debes elegir un producto
          </small>
        </ion-col> -->



        <ion-col size="12">
          <ion-input label="Cantidad" type="number" formControlName="cantidad" label-placement="floating"
            (change)="updateProgress()" id="cantidad-input" fill="outline" placeholder="Cuantas unidades"></ion-input>
          <small *ngIf="validarInput('cantidad');" class="form-text text-danger">
            La cantidad es requerida
          </small>
          <small *ngIf="ventaForm.hasError('cValida') && ventaForm.get('cantidad')?.touched"
            class="form-text text-danger">
            {{ ventaForm.getError('cValida') }}
          </small>

          <small *ngIf="ventaForm.get('cantidad')?.errors?.['max']" class="form-text text-danger">
            y la cantidad supera el stock disponible.
          </small>


        </ion-col>

        <ion-col size="6">
          <ion-input label="Total" type="total" formControlName="total" label-placement="floating" id="total-input"
            fill="outline" placeholder="Total de venta"></ion-input>
          <small *ngIf="validarInput('total');" class="form-text text-danger">
            El total es requerido
          </small>
          <small *ngIf="ventaForm.hasError('tValido') && ventaForm.get('total')?.touched" class="form-text text-danger">
            {{ ventaForm.getError('tValido') }}
          </small>
        </ion-col>

        <ion-col size="6">
          <ion-input label="Ganancias" type="number" formControlName="ganacias" id="ganancias-input"
            label-placement="floating" fill="outline" placeholder="Inserta ganancia"></ion-input>
          <small *ngIf="validarInput('ganacias');" class="form-text text-danger">
            La ganancia es requerida
          </small>
          <small *ngIf="ventaForm.hasError('gValida') && ventaForm.get('ganacias')?.touched"
            class="form-text text-danger">
            {{ ventaForm.getError('gValida') }}
          </small>
        </ion-col>


        <ion-col size="12">
          <ion-item>
            <ion-checkbox formControlName="aceptarVenta">Confirmar venta</ion-checkbox>
          </ion-item>
        </ion-col>




      </ion-row>
      <ion-button mode="ios" type="submit" [disabled]="ventaForm.invalid" expand="block" shape="round" color="primary">
        Registrar
        <ion-icon name="cloud" slot="start">
        </ion-icon>
      </ion-button>
    </form>
  </ion-grid>




</ion-content>