<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-text class="ion-text-center" color="dark">
        <h3>Nuevo producto</h3>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button (click)="closeModal();" fill="clear">
          <ion-icon slot="icon-only" name="close">
          </ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>


  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <ion-item>
      <ion-label position="floating">Nombre del producto*</ion-label>
      <ion-input type="text" formControlName="nombre" placeholder="Write a product name"></ion-input>
      <small *ngIf="validarInput('nombre');" class="form-text text-danger">
        El nombre es requerido
      </small>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria*</ion-label>
      <ion-select formControlName="category_id" multiple="false">
        <ion-select-option *ngFor="let category_id of categories" [value]="category_id">{{
          category_id}}</ion-select-option>
      </ion-select>
      <small *ngIf="validarInput('category_id');" class="form-text text-danger">
        Selecciona una categoria...
      </small>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen*</ion-label>
      <ion-input type="file" formControlName="imagen" placeholder="Write a URL"></ion-input>
      <small *ngIf="validarInput('imagen');" class="form-text text-danger">
        La imagen es requerida
      </small>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description*</ion-label>
      <ion-input type="text" formControlName="descripcion" placeholder="Write a desc"></ion-input>
      <small *ngIf="validarInput('descripcion');" class="form-text text-danger">
        La descripcion es requerida
      </small>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Codigo del producto*</ion-label>
      <ion-input type="text" formControlName="codeproduct" placeholder="Write a product code"></ion-input>
      <small *ngIf="validarInput('codeproduct');" class="form-text text-danger">
        El codigo es requerido
      </small>
    </ion-item>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Precio*</ion-label>
          <ion-input type="number" placeholder="Write a price" formControlName="precio"></ion-input>
          <small *ngIf="validarInput('precio');" class="form-text text-danger">
            El precio es requerido
          </small>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Stock*</ion-label>
          <ion-input type="number" placeholder="Write a stock" formControlName="stock"></ion-input>
          <small *ngIf="validarInput('stock');" class="form-text text-danger">
            El stock es requerido
          </small>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Adquisicion*</ion-label>
          <ion-input type="date" placeholder="Escribe la fecha" formControlName="adquisicion"></ion-input>
          <small *ngIf="validarInput('adquisicion');" class="form-text text-danger">
            La fecha es requerida
          </small>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Vencimiento*</ion-label>
          <ion-input type="date" placeholder="Escribe la fecha" formControlName="vencimiento"></ion-input>
          <small *ngIf="validarInput('vencimiento');" class="form-text text-danger">
            La fecha es requerida
          </small>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-button type="submit" [disabled]="productForm.invalid" expand="block" shape="round" color="primary">
      Registrar
      <ion-icon name="cloud" slot="start">
      </ion-icon>
    </ion-button>


  </form>
</ion-content>