<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-text class="ion-text-center" color="dark">
        <h3>Nuevo producto</h3>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button (click)="closeModal();" fill="clear">
          <ion-icon slot="icon-only" name="close">
          </ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <ion-row>
        <ion-col size="12" *ngIf="showProgressBar">
          <h6 class="ion-text-center">Este es tu progreso {{progress}}</h6>
          <ion-progress-bar [value]="progress / 100"></ion-progress-bar>
        </ion-col>

        <ion-col size="12">
          <ion-input label="Nombre" formControlName="nombre" label-placement="floating" fill="outline" id="nombre-input"
            placeholder="Escribe el nombre del producto" (change)="updateProgress()"></ion-input>
          <small *ngIf="validarInput('nombre');" class="form-text text-danger">
            El nombre es requerido
          </small>
        </ion-col>

        <ion-col size="12">
          <ion-item mode="ios">
            <ion-select formControlName="cat_id" multiple="false" aria-label="Categoria" interface="action-sheet" (ionChange)="updateProgress()"
              id="category_id-select" placeholder="Selecciona la categoria">
              <ion-select-option *ngFor="let cat of mycategories" [value]="cat.id">{{
                cat.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          <small *ngIf="validarInput('cat_id');" class="form-text text-danger">
            Debes elegir una categoria
          </small>
        </ion-col>

        <ion-col size="12">
          <ion-input label="Imagen" type="file" (change)="onFileSelected($event)" id="imagen-input" accept="image/jpeg, image/png"
            formControlName="imagen" label-placement="floating" fill="solid" placeholder="Inserta imagen" (change)="updateProgress()"></ion-input>
          <small *ngIf="validarInput('imagen');" class="form-text text-danger">
            La imagen es requerida
          </small>
        </ion-col>
        <ion-col size="6">
          <ion-input label="Precio de compra" type="number" formControlName="precio_adquirido" (change)="updateProgress()"
            id="precio_adquirido-input" label-placement="floating" fill="outline"
            placeholder="Inserta precio"></ion-input>
          <small *ngIf="validarInput('precio_adquirido');" class="form-text text-danger">
            El precio es requerido
          </small>
        </ion-col>

        <ion-col size="6">
          <ion-input label="Precio de venta" type="number" formControlName="precio_de_venta" label-placement="floating" (change)="updateProgress()"
            id="precio_de_venta-input" fill="outline" placeholder="Inserta precio"></ion-input>
          <small *ngIf="validarInput('precio_de_venta');" class="form-text text-danger">
            El precio es requerido
          </small>
        </ion-col>

        <ion-col size="6">
          <ion-input label="Stock de producto" type="number" formControlName="stock" label-placement="floating" (change)="updateProgress()"
            id="stock-input" fill="outline" placeholder="Inserta unidades"></ion-input>
          <small *ngIf="validarInput('stock');" class="form-text text-danger">
            El stock es requerido
          </small>
        </ion-col>

        <ion-col size="6">
          <ion-input label="Caducidad" type="date" formControlName="caducidad" label-placement="floating" fill="outline" (change)="updateProgress()"
            id="caducidad-input" placeholder="Inserta fecha"></ion-input>
          <small *ngIf="validarInput('caducidad');" class="form-text text-danger">
            La caducidad es requerida
          </small>
        </ion-col>


      </ion-row>
      <ion-button mode="ios" type="submit" [disabled]="productForm.invalid" expand="block" shape="round"
        color="primary">
        Registrar
        <ion-icon name="cloud" slot="start">
        </ion-icon>
      </ion-button>
    </form>
  </ion-grid>



</ion-content>