.imagen {
    width: 400px;
    height: 300px;
}

//Para telefonos
@media (max-width: 767px) {
    .imagen {
        width: 100px;
        height: 80px; 
    }
}
//Para medidas mas grandes
@media (min-width: 768px) {
    .imagen {
        width: 500px;
        height: 400px;
    }
}

/* En tu archivo de estilos */
.verde {
    --background: rgb(94, 221, 94); /* Cambia el color de fondo a verde */
    color: white; /* Cambia el color del texto para asegurar la legibilidad */
  }
  

  