<app-header [titulo]="home"></app-header>


<ion-content>


  <swiper-container #swiper [pagination]="true" [autoplay]="{delay: 3000}" effect="flip" [slidesPerView]="1.5"
    [loop]="true">
    <swiper-slide class="ion-padding" *ngFor="let prod of masVendidos">
      <ion-card class="ion-padding">
        <img [src]="prod.imagen">
      </ion-card>
    </swiper-slide>
  </swiper-container>



  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <!-- <ion-text color="dark" class="ion-text-left">
          <h4 class="ion-padding">Lo mas vendidos</h4>
        </ion-text>  -->
        <!-- <h5>Categorias</h5> -->
        <ion-text>
          <h4>Categorias</h4>
        </ion-text>

      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="round" (click)="openNewCategoria();" color="success">
          Nueva categoria
          <ion-icon name="add" slot="start">
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <swiper-container #swiper [autoplay]="{delay: 3000}" [slidesPerView]="2">
    <swiper-slide *ngFor="let prod of misProductos">
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <ion-item lines="none">
            <ion-label>{{prod.name}}</ion-label>
            <ion-icon *ngIf="prod.stock > 0" color="success" slot="end" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="prod.stock === 0" color="danger" slot="end" name="close-circle"></ion-icon>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-img [src]="prod.img" class="imagen"></ion-img>
          <h4 style="font-weight: bold;" class="ion-padding">{{ prod.precio | currency}}</h4>
        </ion-card-content>

      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-text color="dark" class="ion-text-left">
    <h4 class="ion-padding">Estadisticas</h4>
  </ion-text>
  
  <div *ngIf="chartOptions">
    <div style="text-align:center">
      <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
        [title]="chartOptions.title!"></apx-chart>
    </div>
  </div>





  <ion-text color="dark" class="ion-text-left">
    <h4 class="ion-padding">Ventas</h4>
  </ion-text>
  <ion-col size="6">
    <ion-button expand="block" fill="clear" shape="round" (click)="gPDF();" color="success">
      DESCARGAR REPORTE DE VENTAS
      <ion-icon name="print-outline" slot="start">
      </ion-icon>
    </ion-button>
  </ion-col>
  <ion-card>
    <ion-list class="card-list">
      <ion-row>
        <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor="let v of ventas">
          <ion-item lines="full" [ngClass]="{'verde': esCantidadMayor(v.cantidad)}">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="v.product.imagen" />
            </ion-thumbnail>
            <ion-label>
              {{v.product.nombre}}
              <p><b>Cantidad:</b>{{v.cantidad}}</p>
              <p><b>Ganancia: </b>{{v.ganacias | currency}}</p>
              <p><b>Fecha: </b>{{ v.created_at | date: 'dd/MM/yyyy' }}</p>
              <p><b>Hora: </b>{{ v.created_at | date: 'HH:mm:ss' }}</p>

            </ion-label>

          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>


</ion-content>