<ion-content>
  <ion-header>
    <ion-toolbar>

      <ion-text class="ion-text-center" color="dark">
        <h3>Nueva categoria</h3>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button (click)="closeModal();" fill="clear">
          <ion-icon slot="icon-only" name="close">
          </ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
      <ion-row>
        <ion-col size="12" *ngIf="showProgressBar">
          <h6 class="ion-text-center">Este es tu progreso {{progress}}</h6>
          <ion-progress-bar [value]="progress / 100"></ion-progress-bar>
        </ion-col>

        <ion-col size="12">
          <ion-input label="Nombre" formControlName="nombre" label-placement="floating" fill="outline" id="nombre-input"
            placeholder="Escribe el nombre del producto" (change)="updateProgress()"></ion-input>
          <small *ngIf="validarInput('nombre');" class="form-text text-danger">
            El nombre es requerido
          </small>
        </ion-col>

        <ion-col size="12">
          <ion-item mode="ios">
            <ion-select formControlName="color_id" multiple="false" aria-label="Color" interface="action-sheet" (ionChange)="updateProgress()"
              id="color_id-select" placeholder="Selecciona el color">
              <ion-select-option *ngFor="let color_id of colores" [value]="color_id">{{
                color_id}}</ion-select-option>
            </ion-select>
          </ion-item>
          <small *ngIf="validarInput('color_id');" class="form-text text-danger">
            Debes elegir un color
          </small>
        </ion-col>


      </ion-row>
      <ion-button mode="ios" type="submit" [disabled]="categoryForm.invalid" expand="block" shape="round"
        color="primary">
        Registrar
        <ion-icon name="cloud" slot="start">
        </ion-icon>
      </ion-button>
    </form>
  </ion-grid>

</ion-content>